<label>Total</label>
<form class="form-inline">
  <input id="total" type="text" class="input-medium" placeholder="Total">
  <button id="calc" class="btn btn-primary">Calculate</button>
</form>

<hr>

<label>Max Price</label>
<form class="form-inline">
  <div class="input-prepend input-append">
    <button class="btn" type="button"><i class="icon-hand-down" /></button>
    <input id="maxPrice" type="text" class="input-mini" placeholder="Price">
    <button class="btn" type="button"><i class="icon-hand-up" /></button>
  </div>
  <input id="maxCount" type="text" class="input-mini" placeholder="Count">
</form>

<label>Middle Price</label>
<form class="form-inline">
  <div class="input-prepend input-append">
    <button class="btn" type="button"><i class="icon-hand-down" /></button>
    <input id="midPrice" type="text" class="input-mini" placeholder="Price">
    <button class="btn" type="button"><i class="icon-hand-up" /></button>
  </div>
  <input id="midCount" type="text" class="input-mini" placeholder="Count">
</form>

<label>Min Price</label>
<form class="form-inline">
  <div class="input-prepend input-append">
    <button class="btn" type="button"><i class="icon-hand-down" /></button>
    <input id="minPrice" type="text" class="input-mini" placeholder="Price">
    <button class="btn" type="button"><i class="icon-hand-up" /></button>
  </div>
  <input id="minCount" type="text" class="input-mini" placeholder="Count">
</form>

<label>Balance</label>
<input id="balance" type="text" class="span2" placeholder="Balance">
